<div class="flex justify-center items-center space-x-4 my-4">
  <button
    class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-xl hover:bg-blue-600 transition-colors duration-300 disabled:opacity-50 cursor-pointer"
    (click)="this.prevPage()"
    [disabled]="page === 1"
  >
    Anterior
  </button>

  <span> Página {{ page }} de {{ totalPages }} </span>

  <button
    class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-xl hover:bg-blue-600 transition-colors duration-300 disabled:opacity-50 cursor-pointer"
    (click)="this.nextPage()"
    [disabled]="page === totalPages"
  >
    Siguiente
  </button>
</div>
